<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <a href="{{ url_for('add_item') }}">Add Item</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>
                <a href="{{ url_for('update_item', item_id=item[0]) }}">Update</a>
                <a href="{{ url_for('delete_item', item_id=item[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
